@import 'tailwindcss';

@font-face {
  font-family: 'King and Queen';
  src: url('@/assets/fonts/KingAndQueen-Demo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kings';
  src: url('@/assets/fonts/Kings-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #9fa5ba;
  --color-primary-light: #eef0f6;
  --color-primary-dark: #525769;
}

@layer base {
  html,
  body,
  #root {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
  }
}

@layer utilities {
  .font-king {
    font-family: 'King and Queen', sans-serif;
  }
  .font-kings {
    font-family: 'Kings', sans-serif;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #000;
  }

  @keyframes scribbleShake {
    0% {
      transform: translateY(0.2px) rotate(0.1deg);
      stroke-dashoffset: 12;
    }
    50% {
      transform: translateY(-0.4px) rotate(-0.2deg);
      stroke-dashoffset: 0;
    }
    100% {
      transform: translateY(0.2px) rotate(0.1deg);
      stroke-dashoffset: 12;
    }
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
